[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
line-bot-sdk = "*"
flask = "*"
gunicorn = "*"
black = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python src/main/app.py -d True"

[pipenv]
allow_prereleases = true
